* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #252669;
$mainGreen: #4ecb4a;
$mainWhite: #fff;
$mainGrey: rgb(206, 218, 201);
$mainTransition: all 0.3s linear;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
